/* Container and layout styles */
.main-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;
}

.left-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 20px;
  width: 15%;
}

.middle-column {
  position: relative;
  margin-top: 15px;
  margin-right: 20px;
}

.right-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 15%;
}

/* Shape and color selection */
.shape-selection,
.color-selection {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
}

.radio-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.radio-button-label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.radio-button-hidden {
  display: none;
}

.radio-button-dot {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: block;
  position: relative;
  cursor: pointer;
}

.radio-button-selected {
  border: 2px solid black;
}

.radio-button-unselected {
  border: 2px solid lightgray;
}

.radio-button-dot-inner {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radio-button-label-text {
  font-weight: bold;
}

.gradient-text {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; /* Hides the original text color */
}
.radio-button-text-default {
  color: black;
}

.slider {
	width: "100px";
	text-align: "center";
	margin-bottom: "30px";
}

.slider-text {
	margin-bottom: "5px";
}

.input-minmax {
	display: "flex";
	justify-content: "space-between";
	width: "100%";
}

/* Level */
.level {
  /*text-align: center;*/
  position: absolute;
  top: 0;
  left: 30%;
  transform: translateX(-50%);
}

/* Score */
.score {
  /*text-align: center;*/
  position: absolute;
  top: 0;
  left: 40%;
  transform: translateX(-50%);
}

/* Timer */
.timer {
  /*text-align: center;*/
  position: absolute;
  top: 0;
  left: 70%;
  transform: translateX(-50%);
}

/* Main box for dots */
.dots-box {
  width: 70%;
  height: 85vh;
  border: 2px solid black;
  position: relative;
}

.dot {
  position: absolute;
  border-radius: 50%;
}

.square-dot {
  border-radius: 0%;
}

/* Result message and counters */
.result-message-container {
	display: "flex";
	align-items: "center";
	position: "absolute";
	bottom: "20px";
	left: "50%";
	transform: "translateX(-50%)";
	width: "100%";
}

.result-message {
  text-align: center;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-correct {
  color: green;
}

.message-incorrect {
  color: red;
}

.counters {
  display: flex;
  gap: 20px;
  position: absolute;
  right: 20%;
  bottom: 0;
}

.counter-correct {
  color: green;
  font-weight: bold;
}

.counter-incorrect {
  color: red;
  font-weight: bold;
}

.typography-large {
  font-size: 30px; /* Increase font size for large text */
  font-weight: bold; /* Make the text bold */
  color: #ff4081; /* Bright color for text */
}
